:root {
  --clr-accent-400: #c78d94;
  --clr-accent-200: #f3eeee;

  --clr-neutral-100: #fafafa; /* For modals/inputs */
  --clr-neutral-200: #f4f4f4; /* For tex/body*/
  --clr-neutral-300: #dcdcdc; /* For borders */
  --clr-neutral-700: #2c2c2c; /* For borders */
  --clr-neutral-800: #1f1f1f; /* For text/body */
  --clr-neutral-900: #121212; /* For modals/inputs */

  --clr-error: #f0625d;
  --clr-success: #81c784;

  --ff-primary: "Poppins", sans-serif;
  --ff-numbers: "Roboto Mono", serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.563rem;
  --fs-700: 1.953rem;
  --fs-800: 2.441rem;
  --fs-900: 3.052rem;
}

/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-body);
  color: var(--clr-text);
  font-family: var(--ff-primary);
}

/*
5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

/*
7. More usable h and p tags
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Remove highlight on click for mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

/*style scrollbar*/
:root {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-text) transparent;
}
